.nav-links {
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
 }
 .abutton{
    justify-content:right;
 }
 .container p {
    color:grey;
    font-size: 0.75em;
    display: inline;
 }
 .input-advanced{
    width: 100%;
    background-color: #18191b;
    border: solid 1px grey;
 }
 .input-advanced:focus{
    border-color: #78a2f6;
    outline: none;
 }
 .imp{
    font-size: 1.1em;
    color: whitesmoke;
    font-family:'Courier New', Courier, monospace;
    margin: 0;
 }
 .form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
 }
 .nav-links a {
    margin-left: 15px;
    text-decoration: none;
    color: white;
 }
 .nav-links a:hover{
    text-decoration: underline;
 }
 .search-container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    width: 100vw;
}
 #mainsearch{
    border-radius: 25px;
    border: 3px;
    padding: 10px;
    width: 50vw;
    max-width: 600px;
    font-size: 1.25em;
    box-sizing: border-box;
    background-color: #3c4044;
    color: whitesmoke;
 }
 #mainsearch:hover{
    background-color: #4d5055;
 }
input[type="submit"] {
    padding: 7px 12px;
    color: #dfe1e4;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #242527;
    border-color:#242527;
    box-shadow: none;
    outline: none;
    border-style: solid;
 }
 input[type="submit"]:hover {
    padding: 7px 12px;
    color: #dfe1e4;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #242527;
    box-shadow: none;
    outline: none;
    border: 0.1px solid whitesmoke;
}
 .button-container{
    display: flex;
    gap: 10px;
 }
 .filtershead p {
    color: white;
 }
 @media (max-width: 768px) {
    .nav-links {
        position: relative;
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }
    .search-container input[type="text"] {
        width: 80%;
    }
 }
 @media (max-width: 480px) {
    .search-container input[type="text"] {
        width: 90%;
    }
 
 
    .search-container input[type="submit"] {
        width: 100%;
    }
 } 